@model Cliente

@{
    ViewData["Title"] = $"Cuentas de {Model.Nombre} {Model.Apellido}";
}

<h2><i class="fas fa-wallet text-success"></i> Cuentas de @Model.Nombre @Model.Apellido</h2>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Número</th>
            <th>Balance</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cuenta cuenta in Model.Cuentas.Select(clienteCuenta => clienteCuenta.Cuenta))
        {
            <tr>
                <td>@cuenta.Numero</td>
                <td>(@cuenta.Moneda.Codigo) @cuenta.Balance.ToString("N2")</td>
                <td>
                    <a class="btn" asp-controller="Cuentas" asp-action="Movimientos" asp-route-id="@cuenta.Id" title="Ver Movimientos" data-toggle="tooltip">
                        <i class="fas fa-eye text-primary"></i>
                    </a>
                    <a class="btn" asp-controller="Cuentas" asp-action="Depositar" asp-route-id="@cuenta.Id" title="Depositar" data-toggle="tooltip">
                        <i class="fas fa-money-bill-wave text-success"></i>
                    </a>
                    <a class="btn" asp-controller="Cuentas" asp-action="Extraer" asp-route-id="@cuenta.Id" title="Extraer" data-toggle="tooltip">
                        <i class="fas fa-money-bill-wave text-danger"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

